# Supabase PostgreSQL
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres"

# Google Analytics
NEXT_PUBLIC_GA_ID=""

# Resend (e-mail transacional)
RESEND_API_KEY=""

# Google Maps
GOOGLE_MAPS_API_KEY=""
